@font-face {
  font-family: "GeoSansLight";
  src: url("https://localstorage.tools/game/font/GeosansLight.ttf");
}

:root {
  color-scheme: light dark;

  --wide: 12px;
  --narrow: 4px;
  --border-radius: 4px;

  --empty: black;
  --border: white;
  --highlight: #fef300;
  --first: radial-gradient(#95c25a, #66902e);
  --second: radial-gradient(#7251b8, #52368f);
}

* {
  box-sizing: border-box;
  font-family: "GeoSansLight", sans-serif;
}

body {
  margin: 0;
}

.game__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--wide);
}

.board {
  display: grid;
  width: calc(100vmin - 5vmax);
  height: calc(100vmin - 5vmax);
  justify-content: center;
  align-content: center;
  column-gap: var(--narrow);
  row-gap: var(--narrow);
  background: gray;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: var(--narrow);
}

.button {
  padding: var(--narrow);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.square--first {
  background: var(--first);
  color: black;
}
.square--second {
  background: var(--second);
  color: black;
}
.square--empty {
  background: var(--empty);
  filter: none;
}
.square--selected {
  color: white;
  filter: drop-shadow(var(--narrow) 0 var(--wide) var(--highlight));
}
.square--legal {
  filter: drop-shadow(var(--narrow) 0 var(--wide) var(--border));
}
